alembic
blinker
click
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
iniconfig
itsdangerous
Jinja2
Mako
MarkupSafe
packaging
pluggy
PyMySQL
pytest
pytest-flask
python-dotenv
SQLAlchemy
typing_extensions
Werkzeug
pytest-cov
flask-smorest
marshmallow
python-json-logger
flask-talisman
flask-limiter
flake8
black
Flask-WTF
email-validator
